@layout.app({title: 'Forgot Password', customClass: 'inner-pages', isAuth: true})

@slot('styles')
@vite(['resources/css/core/auth/forgot.scss', 'resources/js/core/auth/login.js'])
@vite('resources/css/app.css')
@endslot

@slot('main')
<div id="smooth-wrapper">
    <div id="smooth-content">
        <div class="forgot-password-acount-container-major">
            <div class="top-spacing"></div>

            <!-- START HERE -->
            <section class="forgot-password-acount-container">

                <img class="user-banner show-in-left" src="/assets/account/account-banner.webp"
                    alt="account  page  banner">
                <div class="forgot-password-user-form">
                    <span class="over-title">Password Recovery</span>
                    <h1 class="xl">Forgot password?</h1>
                    <form class="account-form" 
                        x-ref="forgotForm"
                        x-data="{ loading: false }"
                        hx-post="{{ route('api.auth.forgotPassword') }}"
                        hx-headers='{"X-Feedback-Scope": "global"}'
                        hx-swap="innerHTML"
                        @htmx:before-request="loading = true"
                        @htmx:after-request="loading = false; $refs.forgotForm.reset()">

                        <div id="response-feedback">
                            @include('components/feedback/_response_feedback')
                        </div>

                        <div class="input-container">
                            <label for="fullname">Enter your email</label>
                            <input placeholder="Enter your email" name="email" required type="email">
                        </div>
                        <div id="response-feedback"></div>
                        <button class="custom-button common-styles htmx-button" type="submit">
                            <span :style="{ color: loading ? 'transparent' : ''}">Confirm</span>
                            <svg :style="{ visibility: loading ? 'hidden' : 'visible' }" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect rx="18.5" fill="white" />
                                <path
                                    d="M25.9179 18.9179C26.1488 18.6871 26.1488 18.3129 25.9179 18.0821L22.1565 14.3206C21.9257 14.0898 21.5514 14.0898 21.3206 14.3206C21.0898 14.5514 21.0898 14.9257 21.3206 15.1565L24.6641 18.5L21.3206 21.8435C21.0898 22.0743 21.0898 22.4486 21.3206 22.6794C21.5514 22.9102 21.9257 22.9102 22.1565 22.6794L25.9179 18.9179ZM11.5 18.5L11.5 19.0911L25.5 19.0911L25.5 18.5L25.5 17.9089L11.5 17.9089L11.5 18.5Z"
                                    fill="#2F80ED" />
                            </svg>
                            <span x-show="loading" class="btn-loader"></span>
                        </button>
                    </form>

                    <a class="login-link" href="{{ route('auth.login') }}"><span>Reset to </span> Login</a>
                </div>

            </section>
            <!-- END HERE -->
            @include('components/common/footer')
        </div>
    </div>
</div>
@endslot
@end