<div class="product-card">
    <div class="product-card-top">
        <a class="card-title" href="{{ route('getProduct', { handle: item.node.handle }) }}">{{ truncate(item.node.title, 20) }}</a>
        @if(item.node.productType)
        <a class="card-category" href='javascript:void(0)'>{{ item.node.productType }}</a>
        @endif
    </div>
   
    <a href="{{ route('getProduct', { handle: item.node.handle }) }}" class='product-card-img'>
         @if (item.node.featuredImage?.url)
        <img src="{{ item.node?.featuredImage?.url }}" alt="{{ item.node.title }}" />
         @endif
    </a>
    <div class="product-card-details">
        <a href="{{ route('getProduct', { handle: item.node.handle }) }}">See Details</a>
        @if(item.node.availableForSale) 
        <div>
            <button class="add-to-cart-button"
                @click="addToCart('{{ item.node.selectedOrFirstAvailableVariant.id }}')"
                 :disabled="loading"
            >
                <img src="/img/plus-button.svg" alt="Add to Cart" />
            </button>
        </div>
        @else
        <span style="font-size: 1rem; color: #052F5A;font-weight: 500;">Out of Stock</span>
        @endif
    </div>
</div>