.hero-container{
   padding: 1rem 3.125rem;
}
.swiper-slide.hero-slide{
    border-radius: 5rem;
    height: 60vh;
}
.hero-bg-img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}
.hero-slide .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}
.hero-bg-img img{
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.hero-slide .content{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 4.375rem 3rem 1.875rem 3rem;
}

.hero-title{
    font-size: 4.375rem;
    font-weight: 700;
    color: white;
    z-index: 1;
    position: relative;
}
.hero-title-2{
    font-weight: 400;
}
.hero-slide .content .card{
    display: flex;
    background-color: white;
    width: 35%;
    border-radius: 11px;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    align-items: center;
    gap: 1rem;
}
.hero-slide .content .card h3{
    font-size: 1.25rem;
    color: #052F5A;
    font-weight: 500;
}
.hero-slide .content .card div{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.hero-swiper .swiper-pagination{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
    z-index: 1;
    align-items: center;
}
.swiper-hero-thumbnail-container{
    bottom: 5rem;
    position: relative;
    width: 35%;
    justify-self: center;
}
.pagination-hero .pagination-hero-item{
    background-color: var(--Control-Active, rgba(248, 248, 248, 0.05));
    border: 1px solid var(--stroke-25-button, rgba(255, 255, 255, 0.40));
    background-blend-mode: luminosity;
    filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.30));
    backdrop-filter: blur(0.675rem);
    border-radius: 100%;
    width: 1.875rem;
    height: 1.875rem;
    font-size: 0.675rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-secondary);
    transition: 0.3s all;
}
.pagination-hero .swiper-wrapper{
    align-items: center;
    
}
.swiper-slide.hero-thumb{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-thumb.swiper-slide-active .pagination-hero-item{
    border-radius: 21.143px;
    border: 0.991px solid var(--stroke-25-button, rgba(255, 255, 255, 0.40));
    background: var(--Control-Active, rgba(248, 248, 248, 0.05));
    background-blend-mode: luminosity;
    box-shadow: 0 15.857px 15.857px 0 rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(10.571428298950195px);
    height: 3.45rem;
}
