nav{
    background-color: var(--white);
    position: fixed;
    width: 100%;
    z-index: 10;
}
.desk-navbar{
   padding: 1rem 3.125rem;
   display: flex;
}
.logo-navbar {
    height: 3.125rem;
    width: auto;
}
.desk-navbar .center{
    display: flex;
    width: 100%;
    margin-left: 5%;
    position: relative;
    justify-content: center;
    align-items: center;
}
nav .search-input{
    background-color: #F5F5F5;
    border-radius: 1.375rem;
    border: none;
    color: #777;
    font-size: 0.875rem;
    font-weight: 400;
    outline: none;
    width: 100%;
    padding: 0.75rem 0.25rem 0.75rem 1.125rem;
}
.desk-navbar .center .search-button{
    position: absolute;
    right: 0.25rem;
}
nav .right {
    display: flex;
    justify-self: flex-end;
    width: 80%;
}
nav .navbar-links {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
}
nav .navbar-links a{
    text-decoration: none;
    color: #052F5A;
    font-weight: 500;
    font-size: 1.125rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}
nav .desk-submenu{
    display: flex;
    gap: 1.5rem;
    padding: 1rem 3.125rem;
    justify-content: center;
}
nav .desk-submenu ul {
    display: flex;
    list-style: none;
    gap: 4rem;
}
nav .desk-submenu ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .desk-submenu ul li a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #052F5A;
    font-weight: 500;
    font-size: 1.125rem;
}