<div class="address-item-container">
    @if(customer.addresses && customer.addresses.length > 0)
    @each(address in customer.addresses)
    @include('components/accounts/_address_item')
    @endeach
    @else
    <p class="no-addresses-message">You have no saved addresses.</p>
    @endif
</div>