.category-card{
    position: relative;
}
.category-card img.category-bg{
    width: 100%;
    
}
.category-card h3{
    color: #00254B;
font-size: 1.625rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.category-card p{
    color: #777;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.category-card .content{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0.8125rem 0 1.25rem;
    gap: 1rem;
    & > a {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        color: black;
        z-index: 1;
    }
    & > p {
        z-index: 1;
        width: 100%;
    }
}
.category-card .category-img{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 60%;
    mix-blend-mode: darken;
}