@layout.app({title: 'Shop', customClass: 'inner-pages'})

@slot('styles')
@vite(['resources/css/core/shop/products.scss', 'resources/js/core/shop/products.js'])
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
@vite('resources/css/app.css')
@endslot

@slot('main')
<div id="smooth-wrapper">
    <div id="smooth-content">
        <div class="products-container shop-page">
            <div class="top-spacing"></div>
            <h1 class="xxxl shop-header fade-in-element"><span>Explore </span>our<br class="show-mobile" /> {{ collection.title }}</h1>
            <p class="xxxs shop-subtitle hide-mobile fade-in-reverse">Maximize your workspace with our top-performing
                docking stations, engineered for speed, stability, and seamless connectivity. These customer favorites
                deliver everything you need — from ultra-fast data transfer to multi-device support — all in one sleek,
                reliable hub.</p>
            <p class="shop-subtitle show-mobile  xxxs fade-in-reverse">Maximize your workspace with our top-performing
                docking stations, engineered for speed, stability, and seamless connectivity. </p>

            <p class="shop-subtitle show-mobile xxxs">These customer favorites deliver everything you need — from
                ultra-fast data transfer to multi-device support — all in one sleek, reliable hub.</p>
            <section class="shop-section" id="best-sellers-section" x-data="{ hasProducts: true }" x-show="hasProducts">
                <div class="blured-circle-1 blured-circle desktop-only"></div>
                <div class="blured-circle-2 blured-circle desktop-only"></div>
                <div class="headers">
                    <div class="top-title">
                        <h2>
                            <img src="/assets/product/blue-strip.webp" alt="line" class="blue-strip">
                            Best sellers
                        </h2>
                        <div class="slider-controls">
                            <button class="best-sellers-slider-prev">
                                <img src="/img/prev-arrow.svg" alt="" />
                            </button>
                            <button class="best-sellers-slider-next">
                                <img src="/img/next-arrow.svg" alt="" />
                            </button>
                        </div>
                    </div>
                </div>
                <div class="best-sellers-slide"
                    x-data="cartManager"
                    hx-get="{{ route('api.shop.bestSellingProducts') }}?handle={{ collection.handle }}" 
                    hx-trigger="load" 
                    hx-target="#best-sellers-wrapper"
                    hx-swap="innerHTML"
                    >
                    <div class="swiper best-sellers-swiper">
                        <div class="swiper-wrapper" id="best-sellers-wrapper">
                            <div class="tw-flex tw-justify-center tw-items-center tw-w-full tw-h-40">
                                <div class="tw-animate-spin tw-inline-block tw-size-8 tw-border-3 tw-border-current tw-border-t-transparent tw-text-blue-600 tw-rounded-full tw-dark:text-blue-500" role="status" aria-label="loading" style="border-top: 4px solid;">
                                    <span class="tw-sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sort-container">
                    <div class="search-container">
                        <input class='search-input' 
                               id="shop-search-input" 
                               type="text" 
                               placeholder='Search AnyHDD'
                               oninput="filterProducts()"
                               onkeyup="if(event.key === 'Enter') filterProducts()" />
                        <Button class='custom-button common-styles search-button' 
                                id="shop-search"
                                onclick="filterProducts()">
                            Search
                            <svg class='search-icon' xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                viewBox="0 0 14 14" fill="none">
                                <path
                                    d="M6.84245 10.7083C9.23424 10.7083 11.1732 8.7694 11.1732 6.3776C11.1732 3.98581 9.23424 2.04688 6.84245 2.04688C4.45065 2.04688 2.51172 3.98581 2.51172 6.3776C2.51172 8.7694 4.45065 10.7083 6.84245 10.7083Z"
                                    stroke="#052F5A" stroke-width="1.08268" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M12.2572 11.7923L9.90234 9.4375" stroke="#052F5A" stroke-width="1.08268"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </Button>
                    </div>
                    <div class="sort">
                        <select class='custom-select common-styles' id="shop-sort-select" name="sortKey">
                            <option value="" selected>Sort by:</option>
                            <option value="BEST_SELLING">Most Popular</option>
                            <option value="PRICE">Price: Low to High</option>
                            <option value="PRICE_DESC">Price: High to Low</option>
                            <option value="CREATED">Newest</option>
                            <option value="TITLE">Name: A-Z</option>
                        </select>
                    </div>
                </div>
                <div class="divider-shop"></div>
                @include('components/shop/_products')
            </section>

        </div>

        @include('components/common/footer')
    </div>
</div>
@endslot
@end