@layout.app({title: `${ product.title } - AnyHDD`, customClass: 'inner-pages'})

@slot('styles')
@vite(['resources/css/core/shop/product.scss', 'resources/css/app.css', 'resources/js/core/shop/product.js'])
@endslot

@slot('main')
@include('components/feedback/_response_toast')
<div id="smooth-wrapper">
    <div id="smooth-content">
        <div class="product-container-major">
            <div class="top-spacing"></div>

            <!-- START HERE -->
            <section class="main-product-container">
                <div class="thumbnail-carousel">
                    <div class="product-slider-container">
                        <div class="swiper gallery-main">
                            <div class="swiper-wrapper">
                                @each(item in product.images.edges)
                                <div class="swiper-slide product-slide">
                                    <img src="{{ item.node.url }}" class="product-img" />
                                </div>
                                @endeach
                            </div>
                            <div class="swiper-button-next custom-next">
                                <img src="/img/next-arrow.svg" alt="Next" />
                            </div>
                            <div class="swiper-button-prev custom-prev">
                                <img src="/img/prev-arrow.svg" alt="Previous" />
                            </div>
                        </div>

                        <div class="swiper gallery-thumbs">
                            <div class="swiper-wrapper">
                                @each(item in product.images.edges)
                                <div class="swiper-slide product-slide-thumb">
                                    <img src="{{ item.node.url }}" class="product-img-thumb" />
                                </div>
                                @endeach
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-info" x-data="cartManager" data-default-variant-id="{{ product.selectedOrFirstAvailableVariant?.id }}">
                    <h1 class="xl product-header fade-in-element">{{ product.title }}</h1>
                    <p class="description-text xs fade-in-element">{{{ product.descriptionHtml }}}</p>
                    <div class="price_box_add_btn">
                        <div
                            class="prices"
                            data-default-price="{{ (product.selectedOrFirstAvailableVariant?.price?.amount) || product.priceRange.minVariantPrice.amount || '0' }}"
                            data-default-compare="{{ (product.selectedOrFirstAvailableVariant?.compareAtPrice?.amount) || product.compareAtPriceRange?.minVariantPrice?.amount || '' }}"
                        >
                            <p x-init="registerPriceNode($el)">
                                <span class="line-through" x-show="showComparePrice" x-cloak x-text="formattedComparePrice">
                                    @if(
                                        hasDiscount(
                                            (product.selectedOrFirstAvailableVariant?.price?.amount) || product.priceRange.minVariantPrice.amount,
                                            (product.selectedOrFirstAvailableVariant?.compareAtPrice?.amount) || product.compareAtPriceRange?.minVariantPrice?.amount
                                        )
                                    )
                                    ${{ (product.selectedOrFirstAvailableVariant?.compareAtPrice?.amount) || product.compareAtPriceRange?.minVariantPrice?.amount || '' }}
                                    @endif
                                </span>
                                {{ (product.selectedOrFirstAvailableVariant?.price?.amount) || product.priceRange.minVariantPrice.amount || '0' }}
                            </p>
                        </div>
                        <div class="add_btn_container">
                            <div class="add_btn">
                                <button @click="$store.product.quantity > 1 && $store.product.quantity--">-</button>
                                <span x-text="$store.product.quantity"></span>
                                <button @click="$store.product.quantity < 20 && $store.product.quantity++">+</button>
                            </div>
                            @if(product.availableForSale) 
                            <Button class='custom-button common-styles' id="add-to-cart-button"  @click="addToCart('{{ product.selectedOrFirstAvailableVariant.id}}')" :disabled="loading">
                                Add to Cart
                                <svg viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect rx="18.5" fill="white"></rect>
                                    <path
                                        d="M25.9179 18.9179C26.1488 18.6871 26.1488 18.3129 25.9179 18.0821L22.1565 14.3206C21.9257 14.0898 21.5514 14.0898 21.3206 14.3206C21.0898 14.5514 21.0898 14.9257 21.3206 15.1565L24.6641 18.5L21.3206 21.8435C21.0898 22.0743 21.0898 22.4486 21.3206 22.6794C21.5514 22.9102 21.9257 22.9102 22.1565 22.6794L25.9179 18.9179ZM11.5 18.5L11.5 19.0911L25.5 19.0911L25.5 18.5L25.5 17.9089L11.5 17.9089L11.5 18.5Z"
                                        fill="#2F80ED"></path>
                                </svg>
                            </Button>
                            @else
                            <Button class='custom-button common-styles button-disabled' disabled>
                                Add to Cart
                                <svg viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect rx="18.5" fill="white"></rect>
                                    <path
                                        d="M25.9179 18.9179C26.1488 18.6871 26.1488 18.3129 25.9179 18.0821L22.1565 14.3206C21.9257 14.0898 21.5514 14.0898 21.3206 14.3206C21.0898 14.5514 21.0898 14.9257 21.3206 15.1565L24.6641 18.5L21.3206 21.8435C21.0898 22.0743 21.0898 22.4486 21.3206 22.6794C21.5514 22.9102 21.9257 22.9102 22.1565 22.6794L25.9179 18.9179ZM11.5 18.5L11.5 19.0911L25.5 19.0911L25.5 18.5L25.5 17.9089L11.5 17.9089L11.5 18.5Z"
                                        fill="#2F80ED"></path>
                                </svg>
                            </Button>
                            @endif
                        </div>
                        @if(product.variants.edges.length > 1) 
                        <p class="description-text xs model-title">
                            Model Condition
                        </p>
                        <div class="btn-model-select-container">
                            @each((item, index) in product.variants.edges)
                            <button
                                @click="selectVariant($event)"
                                data-variant-id="{{ item.node.id }}"
                                data-price="{{ item.node.price.amount || '0' }}"
                                data-compare="{{ item.node.compareAtPrice?.amount || '' }}"
                                data-available="{{ item.node.availableForSale }}"
                                class="condition-btn {{ index === 0 ? 'active' : '' }}"
                            >{{ item.node.title }}</button>
                            @end
                        </div>
                        @end
                        <div class="accordion-section">
                            <div class="accordion js-accordion">
                                <div class="accordion__header">
                                    <h4 class="accordeon-header-title">About {{ product.title }}</h4>
                                    <svg viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12.7676 3V22.525" class="hide-open" stroke="#052F5A"
                                            stroke-width="5.53778" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M3 12.7617H22.525" stroke="#052F5A" stroke-width="5.53778"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>

                                </div>
                                <div class="accordion__body">
                                    <div class="radial_gradient_divider"></div>
                                    <p class="xs">
                                        {{ product.customFields?.about || 'No additional information available.' }}
                                    </p>
                                </div>
                            </div>

                            <div class="accordion-wrapper">
                                <div class="accordion js-accordion">
                                    <div class="accordion__header">
                                        <h4 class="accordeon-header-title">Do the products come with a warranty?</h4>
                                        <svg viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.7676 3V22.525" class="hide-open" stroke="#052F5A"
                                                stroke-width="5.53778" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M3 12.7617H22.525" stroke="#052F5A" stroke-width="5.53778"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>

                                    </div>
                                    <div class="accordion__body">
                                        <div class="radial_gradient_divider"></div>
                                        <p class="xs">
                                            Yes, all our products include an official warranty. The coverage period
                                            varies by product, but typically ranges from 12 to 24 months against
                                            manufacturing defects.
                                        </p>
                                    </div>
                                </div>

                                <div class="accordion js-accordion">
                                    <div class="accordion__header">
                                        <h4 class="accordeon-header-title">Methods of use of the product</h4>
                                        <svg viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12.7676 3V22.525" class="hide-open" stroke="#052F5A"
                                                stroke-width="5.53778" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M3 12.7617H22.525" stroke="#052F5A" stroke-width="5.53778"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>

                                    </div>
                                    <div class="accordion__body">
                                        <div class="radial_gradient_divider"></div>
                                        <p class="xs">
                                            {{ product.customFields?.methods_of_use || 'No usage instructions available.' }}
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>


            @if(product.customFields.video && product.customFields.video.reference.sources && product.customFields.video.reference.sources.length > 0) 
            <section class="video-section">
                <img class="left-box" alt="video-section-left-image"
                    src="/assets/product/video-section/left-image.webp"></img>
                <div class="video">
                    <img class="thumbnail" src="/assets/product/video-section/thumbnail.webp" alt="">
                    <img src="/assets/product/video-section/play-icon.webp" alt="play-btn" role="button"
                        class="play-btn">
                    <video controls muted src="{{ product.customFields.video.reference.sources[0].url }}" class="video-player">
                        Your browser does not support the video tag.
                    </video>
                </div>

                <div class="right-box">
                    <img class="right-image" src="/assets/product/video-section/right-1-image.webp"
                        alt="video-section-right-image">
                    <img class="right-image" src="/assets/product/video-section/right-2-image.webp"
                        alt="video-section-right-image">
                </div>

                <div class="center-box-mobile">
                    <img class="left-box-mobile" alt="video-section-left-image"
                        src="/assets/product/video-section/left-image.webp"></img>

                    <div class="right-box-mobile">
                        <img class="right-image-mobile" src="/assets/product/video-section/right-1-image-mobile.png"
                            alt="video-section-right-image">
                        <img class="right-image-mobile" src="/assets/product/video-section/right-2-image-mobile.png"
                            alt="video-section-right-image">
                    </div>
                </div>
            </section>
            @endif

            @if(product.customFields.package_items && product.customFields.package_items.references && product.customFields.package_items.references.length > 0) 
            <section class="flip-section">
                <h2 class="xxl fade-in-top"><span>What’s</span> Included in<br class="show-mobile" /> the package</h2>
                <div class="wrapper">
                    @each(item in product.customFields.package_items.references)
                    <div class="card">
                        <div class="faces">
                            <div class="face front"><img class="flip-product-image"
                                    src="{{ item.image_data.image.url }}" alt="{{ item.image_data.image.altText || '' }}" /></div>
                            <div class="face back">
                                <span class="card-badge">
                                    <h6>{{ item.tag }}</h6>
                                </span>
                                <h5 class="card-product m">{{ item.title }}</h5>
                                <p class="card-text">{{ item.description }}</p>
                            </div>
                        </div>
                    </div>
                    @endeach
                </div>

            </section>
            @endif

            @if(product.connectivity) 
            <section class="connectivity-options">
                <h2 class="xxl fade-in-top">Connectivity Options</h2>
                 <div class="tech-badges">
                    @each(item in product.connectivity.compatibility)
                    @if(item == 'Windows') 
                    <div class="badge-item">
                        <img src="/assets/product/connectivity-options/microsoft.png" alt="microsoft icon">
                        <span>Microsoft Windows</span>
                    </div>
                    @elseif(item == 'Apple')
                    <div class="badge-item">
                        <img src="/assets/product/connectivity-options/apple.png" alt="apple icon">
                        <span>Apple</span>
                    </div>
                    @elseif(item == 'Linux')
                    <div class="badge-item">
                        <img src="/assets/product/connectivity-options/ubuntu.png" alt="ubuntu icon">
                        <span>Ubuntu</span>
                    </div>
                    @elseif(item == 'Chrome OS')
                    <div class="badge-item">
                        <img src="/assets/product/connectivity-options/chromeos.png" alt="chrome os icon">
                        <span>Chrome OS</span>
                    </div>
                    @elseif(item == 'Android')
                    <div class="badge-item">
                        <img src="/assets/product/connectivity-options/android.png" alt="android icon">
                        <span>Android</span>
                    </div>
                    @endif
                    @endeach
                </div>
                <div class="connectivity-options-carousel">
                    @if(product.connectivity.features && product.connectivity.features.references)
                    <div class="connectivity-slider-container">
                        <div class="swiper gallery-main-connectivity">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide connectivity-slide">
                                    <img src="{{ product.connectivity.image.image.url }}" class="connectivity-img" />
                                    <div class="label-container">
                                        <div class="arrow-item-mobile-container">
                                            @each((feature, index) in product.connectivity.features.references)
                                                @if(index < 6)
                                                <div class="arrow-item-mobile arrow-mobile-{{ index + 1 }}">
                                                    <div class="second-line"></div>
                                                    <div class="blue-circle"></div>
                                                </div>
                                                @endif
                                            @end
                                            @if(product.connectivity.features.references.length < 6)
                                                @each(i in Array.from({ length: 6 - product.connectivity.features.references.length }))
                                                <div class="label-item"></div>
                                                @end
                                            @endif
                                        </div>
                                        @each((feature, index) in product.connectivity.features.references)
                                            @if(index < 6)
                                            <div class="label-item label-{{ index + 1 }}">
                                                <div class="label-texts">
                                                    <span class="label-upper-text">{{ truncate(feature.description, 33) }}</span>
                                                    <span class="label-lower-text">{{ truncate(feature.title, 23) }}</span>
                                                </div>
                                                <span class="label-num">{{ index + 1 }}</span>
                                            </div>
                                            @endif
                                        @end
                                        @if(product.connectivity.features.references.length < 6)
                                            @each(i in Array.from({ length: 6 - product.connectivity.features.references.length }))
                                            <div class="label-item"></div>
                                            @end
                                        @endif
                                    </div>
                                </div>
                                @if(product.connectivity.features.references.length > 6)
                                <div class="swiper-slide connectivity-slide">
                                    <img src="{{ product.connectivity.image.image.url }}" class="connectivity-img" />
                                    <div class="label-container">
                                        <div class="arrow-item-mobile-container">
                                            @each((feature, index) in product.connectivity.features.references)
                                                @if(index >= 6)
                                                <div class="arrow-item-mobile arrow-mobile-{{ (index % 6) + 1 }}">
                                                    <div class="second-line"></div>
                                                    <div class="blue-circle"></div>
                                                </div>
                                                @endif
                                            @end
                                            @if(product.connectivity.features.references.length - 6 < 6)
                                                @each(i in Array.from({ length: 6 - (product.connectivity.features.references.length - 6) }))
                                                <div class="label-item"></div>
                                                @end
                                            @endif
                                        </div>
                                        @each((feature, index) in product.connectivity.features.references)
                                            @if(index >= 6)
                                            <div class="label-item label-{{ (index % 6) + 1 }}">
                                                <div class="label-texts">
                                                    <span class="label-upper-text">{{ truncate(feature.description, 33) }}</span>
                                                    <span class="label-lower-text">{{ truncate(feature.title, 23) }}</span>
                                                </div>
                                                <span class="label-num">{{ index + 1 }}</span>
                                            </div>
                                            @endif
                                        @end
                                        @if(product.connectivity.features.references.length - 6 < 6)
                                            @each(i in Array.from({ length: 6 - (product.connectivity.features.references.length - 6) }))
                                            <div class="label-item"></div>
                                            @end
                                        @endif
                                    </div>
                                </div>
                                @endif
                            </div>
                            @if(product.connectivity.features.references.length > 6)
                            <div class="nav-container">
                                <div class="swiper-pagination"></div>
                                <div class="swiper-scrollbar"></div>
                                <div class="swiper-button-prev custom-prev-connectivity">
                                    <img src="/img/prev-arrow.svg" alt="Previous" />
                                </div>
                                <div class="swiper-button-next custom-next-connectivity">
                                    <img src="/img/next-arrow.svg" alt="Next" />
                                </div>
                            </div>
                            @endif
                        </div>
                    </div>
                    @endif
                </div>
            </section>
            @endif

            @if(product.customFields.feature_and_design && product.customFields.feature_and_design.references.length > 0) 
            <section class="feature-desing">


                <div class="text-feature">
                    <div class="badge badge-tiny ">
                        <h6>Feature Benefits</h6>
                    </div>
                    <div class="badge">Design Feature</div>
                    <h2 class="xxxl  fade-in-bottom-feature">
                        Feature and Design:<br />
                        <span class="gradient-text">{{ product.title }}</span>
                    </h2>
                    <div class="three-items fade-in-feature">
                        @each((item, index) in product.customFields.feature_and_design.references)
                        <div class="feature-item">
                            <div class="icon-item">
                                <img src="/assets/product/feature-design/bg-item.webp" alt="video resolution icon">
                                {{{ item.icon_svg }}}
                            </div>

                            <p class="item-title">{{ item.name }}</p>
                            <p class="item-subtitle">{{ item.description }}</p>
                        </div>
                        @endeach
                    </div>
                </div>
            </section>
            @endif

            <section class="warning-dual">
                <div class="who_we_text">
                    <div class="header_cont">
                        <!-- <p class="label-header parragraph_desk">Powering Connections</p> -->
                        <h2 class="section-header xxxl fade-in-left">
                            Warning: <span> {{ product.title }}</span>
                        </h2>
                    </div>
                    <div class="description_cont fade-in-right">
                        <p class="xxxs">{{ product.customFields.warning || '' }}</p>
                        <button onclick="window.location.href='{{ route('termsAndConditions') }}'"
                            class="custom-button common-styles search-button">
                            Terms and conditions
                            <svg width="38" height="37" viewBox="0 0 38 37" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" width="37" height="37" rx="18.5" fill="white" />
                                <path
                                    d="M26.4179 18.9179C26.6488 18.6871 26.6488 18.3129 26.4179 18.0821L22.6565 14.3206C22.4257 14.0898 22.0514 14.0898 21.8206 14.3206C21.5898 14.5514 21.5898 14.9257 21.8206 15.1565L25.1641 18.5L21.8206 21.8435C21.5898 22.0743 21.5898 22.4486 21.8206 22.6794C22.0514 22.9102 22.4257 22.9102 22.6565 22.6794L26.4179 18.9179ZM12 18.5L12 19.0911L26 19.0911L26 18.5L26 17.9089L12 17.9089L12 18.5Z"
                                    fill="#2F80ED" />
                            </svg>

                        </button>
                    </div>
                </div>
                @if(product.customFields.product_benefits && product.customFields.product_benefits.references.length > 0) 
                <div class="white-cards-container">
                    @each((item, index) in product.customFields.product_benefits.references)
                    <div class="white-card card-{{ index + 1 }}">
                        <div class="badge-feature-benefits">
                            <h6>{{ item.tag }}</h6>
                        </div>
                        <h5>{{ item.title }}</h5>
                        <p>{{ item.description }}</p>
                        <img class="hide-image" src="{{ item.image_data.image.url }}" alt="benefit image">
                    </div>
                    @endeach
                </div>
                @endif

            </section>

            <section class="product-review">
                @include('components/shop/_reviews')
            </section>
            <!-- END HERE -->
            @include('components/common/footer')
        </div>
    </div>
</div>
@endslot
@end