@layout.app({title: 'Shop', customClass: 'inner-pages'})

@slot('styles')
@vite(['resources/css/core/shop/products.scss', 'resources/js/core/shop/products.js'])
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
@endslot

@slot('main')
<div id="smooth-wrapper">
    <div id="smooth-content">
        <div class="products-container shop-page">
            <div class="top-spacing"></div>
            <h1 class="xxxl shop-header fade-in-element"><span>Explore </span>our<br class="show-mobile" /> Docking
                Stations</h1>
            <p class="xxxs shop-subtitle hide-mobile fade-in-reverse">Maximize your workspace with our top-performing
                docking stations, engineered for speed, stability, and seamless connectivity. These customer favorites
                deliver everything you need — from ultra-fast data transfer to multi-device support — all in one sleek,
                reliable hub.</p>
            <p class="shop-subtitle show-mobile  xxxs fade-in-reverse">Maximize your workspace with our top-performing
                docking stations, engineered for speed, stability, and seamless connectivity. </p>

            <p class="shop-subtitle show-mobile xxxs">These customer favorites deliver everything you need — from
                ultra-fast data transfer to multi-device support — all in one sleek, reliable hub.</p>
            <section class="shop-section">
                <div class="blured-circle-1 blured-circle desktop-only"></div>
                <div class="blured-circle-2 blured-circle desktop-only"></div>
                <div class="headers">
                    <div class="top-title">
                        <h2>
                            <img src="/assets/product/blue-strip.webp" alt="line" class="blue-strip">
                            Best sellers
                        </h2>
                        <div class="slider-controls">
                            <button class="best-sellers-slider-prev">
                                <img src="/img/prev-arrow.svg" alt="" />
                            </button>
                            <button class="best-sellers-slider-next">
                                <img src="/img/next-arrow.svg" alt="" />
                            </button>
                        </div>
                    </div>
                </div>
                <div class="best-sellers-slide">
                </div>
                <div class="sort-container">
                    <div class="search-container">
                        <input class='search-input' id="shop-search-input" type="text" placeholder='Search AnyHDD' />
                        <Button class='custom-button common-styles search-button' id="shop-search">
                            Search
                            <svg class='search-icon' xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                viewBox="0 0 14 14" fill="none">
                                <path
                                    d="M6.84245 10.7083C9.23424 10.7083 11.1732 8.7694 11.1732 6.3776C11.1732 3.98581 9.23424 2.04688 6.84245 2.04688C4.45065 2.04688 2.51172 3.98581 2.51172 6.3776C2.51172 8.7694 4.45065 10.7083 6.84245 10.7083Z"
                                    stroke="#052F5A" stroke-width="1.08268" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M12.2572 11.7923L9.90234 9.4375" stroke="#052F5A" stroke-width="1.08268"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </Button>
                    </div>
                    <div class="sort">
                        <select class='custom-select common-styles' id="shop-sort-select">
                            <option value="default" selected>Sort by:</option>
                            <option value="popularity">Most Popular</option>
                            <option value="priceLowToHigh">Price: Low to High</option>
                            <option value="priceHighToLow">Price: High to Low</option>
                        </select>
                    </div>
                </div>
                <div class="divider-shop"></div>
                <div class="shop">
                    <div class="filters">
                        <div class="filter-head">
                            <img src="/img/all-categories.svg" alt="Filters Icon">
                            <h3>
                                Filters
                            </h3>
                        </div>
                        <div class="filter-container">
                            <div class="filter-option">
                                <div class="filter-header" tabindex="0" role="button">
                                    <h4>Price</h4>
                                    <svg class="filter-arrow" xmlns="http://www.w3.org/2000/svg" width="17" height="10"
                                        viewBox="0 0 17 10" fill="none" style="transform: rotate(0deg);">
                                        <path d="M1 9L8.5 2L16 9" stroke="#052F5A" stroke-width="2"></path>
                                    </svg>
                                </div>
                                <div class="filter-content" style="height: auto;">
                                    <ul class="filter-options">

                                        <li>
                                            <label>
                                                <input type="checkbox" value="80">
                                                $ 25.00 - $80.00
                                            </label>
                                        </li>

                                        <li>
                                            <label>
                                                <input type="checkbox" value="150">
                                                $ 80.00 - $150.00
                                            </label>
                                        </li>

                                        <li>
                                            <label>
                                                <input type="checkbox" value="200">
                                                $ 150.00 - $200.00
                                            </label>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <div class="filter-option">
                                <div class="filter-header" tabindex="0" role="button">
                                    <h4>Status</h4>
                                    <svg class="filter-arrow" xmlns="http://www.w3.org/2000/svg" width="17" height="10"
                                        viewBox="0 0 17 10" fill="none" style="transform: rotate(0deg);">
                                        <path d="M1 9L8.5 2L16 9" stroke="#052F5A" stroke-width="2"></path>
                                    </svg>
                                </div>
                                <div class="filter-content" style="height: auto;">
                                    <ul class="filter-options">

                                        <li>
                                            <label>
                                                <input type="checkbox" value="on-sale">
                                                On Sale
                                            </label>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <div class="filter-option">
                                <div class="filter-header" tabindex="0" role="button">
                                    <h4>Number of Ports</h4>
                                    <svg class="filter-arrow" xmlns="http://www.w3.org/2000/svg" width="17" height="10"
                                        viewBox="0 0 17 10" fill="none" style="transform: rotate(0deg);">
                                        <path d="M1 9L8.5 2L16 9" stroke="#052F5A" stroke-width="2"></path>
                                    </svg>
                                </div>
                                <div class="filter-content" style="height: auto;">
                                    <ul class="filter-options">

                                        <li>
                                            <label>
                                                <input type="checkbox" value="1">
                                                1 Port
                                            </label>
                                        </li>

                                        <li>
                                            <label>
                                                <input type="checkbox" value="2">
                                                2 -3 Ports
                                            </label>
                                        </li>

                                        <li>
                                            <label>
                                                <input type="checkbox" value="+3">
                                                More than 3 Ports
                                            </label>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <div class="filter-option">
                                <div class="filter-header" tabindex="0" role="button">
                                    <h4>Charging Type</h4>
                                    <svg class="filter-arrow" xmlns="http://www.w3.org/2000/svg" width="17" height="10"
                                        viewBox="0 0 17 10" fill="none" style="transform: rotate(0deg);">
                                        <path d="M1 9L8.5 2L16 9" stroke="#052F5A" stroke-width="2"></path>
                                    </svg>
                                </div>
                                <div class="filter-content" style="height: auto;">
                                    <ul class="filter-options">

                                        <li>
                                            <label>
                                                <input type="checkbox" value="Built-in Battery">
                                                Built-in Battery
                                            </label>
                                        </li>

                                        <li>
                                            <label>
                                                <input type="checkbox" value="Magnetic">
                                                Magnetic
                                            </label>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="products-container">
                        <h5>Docking Stations / 33 Item(s) Found</h5>
                        <div class="products">
                            <div class="product-card">
                                <div class="product-card-top">
                                    <h3>Dell Docking Station</h3>
                                    <a href="/shop/category">Docking Station</a>
                                </div>
                                <div class="product-card-img">
                                    <img src="/img/product-img.png" alt="Dell Docking Station">
                                </div>
                                <div class="product-card-details">
                                    <a href="/product/1">See Details</a>
                                    <div>
                                        <button class="add-to-cart-button">
                                            <img src="/img/plus-button.svg" alt="Add to Cart">
                                        </button>
                                        <span>$30,000.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="product-card">
                                <div class="product-card-top">
                                    <h3>Apple MacBook Pro</h3>
                                    <a href="/shop/category">Laptop</a>
                                </div>
                                <div class="product-card-img">
                                    <img src="/img/product-img.png" alt="Apple MacBook Pro">
                                </div>
                                <div class="product-card-details">
                                    <a href="/product/2">See Details</a>
                                    <div>
                                        <button class="add-to-cart-button">
                                            <img src="/img/plus-button.svg" alt="Add to Cart">
                                        </button>
                                        <span>$150,000.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="product-card">
                                <div class="product-card-top">
                                    <h3>Samsung Galaxy S21</h3>
                                    <a href="/shop/category">Smartphone</a>
                                </div>
                                <div class="product-card-img">
                                    <img src="/img/product-img.png" alt="Samsung Galaxy S21">
                                </div>
                                <div class="product-card-details">
                                    <a href="/product/3">See Details</a>
                                    <div>
                                        <button class="add-to-cart-button">
                                            <img src="/img/plus-button.svg" alt="Add to Cart">
                                        </button>
                                        <span>$80,000.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="product-card">
                                <div class="product-card-top">
                                    <h3>Dell Docking Station</h3>
                                    <a href="/shop/category">Docking Station</a>
                                </div>
                                <div class="product-card-img">
                                    <img src="/img/product-img.png" alt="Dell Docking Station">
                                </div>
                                <div class="product-card-details">
                                    <a href="/product/4">See Details</a>
                                    <div>
                                        <button class="add-to-cart-button">
                                            <img src="/img/plus-button.svg" alt="Add to Cart">
                                        </button>
                                        <span>$30,000.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="product-card">
                                <div class="product-card-top">
                                    <h3>Apple MacBook Pro</h3>
                                    <a href="/shop/category">Laptop</a>
                                </div>
                                <div class="product-card-img">
                                    <img src="/img/product-img.png" alt="Apple MacBook Pro">
                                </div>
                                <div class="product-card-details">
                                    <a href="/product/5">See Details</a>
                                    <div>
                                        <button class="add-to-cart-button">
                                            <img src="/img/plus-button.svg" alt="Add to Cart">
                                        </button>
                                        <span>$150,000.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="product-card">
                                <div class="product-card-top">
                                    <h3>Samsung Galaxy S21</h3>
                                    <a href="/shop/category">Smartphone</a>
                                </div>
                                <div class="product-card-img">
                                    <img src="/img/product-img.png" alt="Samsung Galaxy S21">
                                </div>
                                <div class="product-card-details">
                                    <a href="/product/6">See Details</a>
                                    <div>
                                        <button class="add-to-cart-button">
                                            <img src="/img/plus-button.svg" alt="Add to Cart">
                                        </button>
                                        <span>$80,000.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination-container">
                        </div>
                    </div>
                </div>
            </section>

        </div>

        @include('components/common/footer')
    </div>
</div>
@endslot
@end