@layout.app({title: 'About', customClass: 'inner-pages'})

@slot('styles')
@vite(['resources/css/core/about.scss', 'resources/js/core/about.js'])
@endslot

@slot('main')
<div id="smooth-wrapper">
    <div id="smooth-content">
        <div class="about-us-container">
            <div class="top-spacing"></div>

            <!-- START HERE -->
            <section class="who_we_are">
                <div class="who_we_text">
                    <div class="header_cont show-in-left">
                        <p class="label-header parragraph_desk">Powering Connections</p>
                        <h1 class="section-header xxxl"><span>Who</span> We Are</h1>
                    </div>
                    <div class="description_cont show-in-right">
                        <p class="xxxs">
                            At AnyHDD, we believe that reliable technology should be accessible, efficient, and designed
                            to empower modern life. With years of experience delivering high-performance electronics and
                            accessories, our mission is to make everyday digital experiences smoother — whether you're
                            working, gaming, or staying connected on the go.
                        </p>
                        <button onclick="window.location.href = '/faq';"
                            class="custom-button common-styles search-button">
                            Learn More
                            <svg width="38" height="37" viewBox="0 0 38 37" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" width="37" height="37" rx="18.5" fill="white" />
                                <path
                                    d="M26.4179 18.9179C26.6488 18.6871 26.6488 18.3129 26.4179 18.0821L22.6565 14.3206C22.4257 14.0898 22.0514 14.0898 21.8206 14.3206C21.5898 14.5514 21.5898 14.9257 21.8206 15.1565L25.1641 18.5L21.8206 21.8435C21.5898 22.0743 21.5898 22.4486 21.8206 22.6794C22.0514 22.9102 22.4257 22.9102 22.6565 22.6794L26.4179 18.9179ZM12 18.5L12 19.0911L26 19.0911L26 18.5L26 17.9089L12 17.9089L12 18.5Z"
                                    fill="#2F80ED" />
                            </svg>

                        </button>
                    </div>
                </div>
                <img class="about_us_image fade-in-reverse" src="/assets/about-us/about_us_image.webp"
                    alt="who we are image">
                <img class="about_us_image_mobile fade-in-reverse" src="/assets/about-us/about_us_image_mobile.webp"
                    alt="who we are image">

            </section>

            <section class="stablished_in">
                <div class="elipse_light"></div>
                <h2 class="xl established_header fade-in-top">Established in 2002, <span> AnyHDD</span> is<br
                        class="show_mobile" /> a trusted global provider of data<br /> storage solutions and IT<br
                        class="show_mobile" /> hardware for professionals,<br class="show_mobile" /> businesses,<br
                        class="hide_mobile" /> and tech<br class="show_mobile" /> enthusiasts around the world.</h2>
                <p class="xs established_text fade-in-bottom-subtitle"><span>With over 20 years</span> of industry
                    experience and a commitment to reliability, AnyHDD sources and distributes best-in-class hard
                    drives, docking stations, and enterprise-level storage products. <span>Our goal is simple:</span>
                    make high-performance technology accessible, dependable, and ready to scale.</p>
                <div class="three_card_container">
                    <div class="card card_1">
                        <span class="white_label parragraph_desk">
                            Data protection
                        </span>
                        <h5 class="l"><span>We ensure the<br /> secure handling </span>and<br /> delivery of hardware.
                        </h5>
                        <p class="xxxs">Our supply chain is <span>optimized</span> for integrity, ensuring products
                            arrive protected, verified, and <span>ready to perform.</span></p>
                        <img class="card_icon" src="/assets/about-us/shield.webp" alt="shield icon">
                    </div>
                    <div class="card card_2">
                        <img class="card_icon" src="/assets/about-us/trophy.webp" alt="trophy icon">
                        <h5 class="l">We deliver <span>high-<br />quality products &<br /> service.</span></h5>
                        <p class="xxxs">All our items go through <span>rigorous compatibility</span> checks and are
                            <span>backed by trusted brands</span> and certified testing processes.</p>
                        <span class="white_label parragraph_desk">
                            Quality to Rely On
                        </span>
                    </div>
                    <div class="card card_3">
                        <span class="white_label parragraph_desk">
                            Innovation
                        </span>
                        <h5 class="l"><span>Scalable storage</span><br /> built for modern<br /> workflows.</h5>
                        <p class="xxxs">From everyday users to enterprise deployments, our catalog adapts to the
                            <span>ever-growing demand</span> for speed, capacity, and performance.</p>
                        <img class="card_icon" src="/assets/about-us/key.webp" alt="trophy icon">
                    </div>
                </div>
            </section>

            <section class="built_for">

                <div class="built_for_image">
                    <div class="elipse_light"></div>
                    <div class="elipse_light_2"></div>
                    <img class="float" src="/assets/about-us/hardware.webp" alt="hardware">
                </div>
                <div class="buil_for_text">
                    <img class="blue-indicator" src="/assets/about-us/blue-indicator.png"
                        alt="indicator technology">
                    <h2 class="xl"><span>Built for scale.</span><br />Trusted by thousands.</h2>
                    <p class="xs">From procurement to deployment, AnyHDD simplifies hardware sourcing, logistics, and
                        lifecycle management—ensuring secure, efficient, and scalable solutions tailored to enterprise
                        IT infrastructures.</p>
                    <div class="stadistics">
                        <div class="item">
                            <div class="m">
                                <span class="blue_text">
                                    +5K
                                </span>

                            </div>
                            <span class="xxxs">Customers</span>
                        </div>
                        <div class="item">
                            <div class="m">
                                <span class="blue_text">
                                    +2K
                                </span>

                            </div>
                            <span class="xxxs">Products</span>
                        </div>
                        <div class="item">
                            <div class="m">
                                <span class="blue_text">
                                    +100
                                </span>

                            </div>
                            <span class="xxxs">Countries</span>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END HERE -->
            @include('partials/common/footer')
        </div>
    </div>
</div>
@endslot
@end