@layout.app({title: 'Sell to Us', customClass: 'inner-pages'})

@slot('styles')
@vite(['resources/css/core/sell-us.scss', 'resources/js/core/sell-us.js'])
@vite('resources/css/app.css')
@endslot

@slot('main')
<div id="smooth-wrapper">
    <div id="smooth-content">
        <div class="sell-to-us-container">
            <div class="top-spacing"></div>

            <!-- START HERE -->
            <section class="ask_warranty">
                <a class="warranty_images show-in-left" href="https://maps.app.goo.gl/PWLKcriQJxEQ5zwi6">
                    <img tabindex="0" src="/assets/sell-to-us/map.webp" alt="warranty images">
                </a>
                <div class="form_container">
                    <h1 class="section-header xxxxl">Sell <span>to Us</span></h1>
                    <p class="xxxs sub-title">Turn your excess IT hardware into cash. We buy new, refurbished, and
                        decommissioned equipment directly from companies and IT resellers.</p>
                    <form class="warranty_form"
                        x-data="sellUsForm()"
                        x-ref="sellUsForm"
                        hx-post="{{ route('api.pages.sellToUs') }}" 
                        hx-encoding="multipart/form-data"
                        hx-headers='{"X-Feedback-Scope": "global"}'
                        hx-swap="innerHTML"
                        @htmx:before-request="loading = true" 
                        @htmx:after-request="loading = false; resetForm()"
                        >

                        <div id="response-feedback">
                            @include('components/feedback/_response_feedback')
                            <div x-show="error" 
                                x-transition
                                class="tw-bg-red-200 tw-border-s-4 tw-border-red-500 tw-p-4 tw-mb-10" 
                                role="alert" 
                                tabindex="-1" 
                                aria-labelledby="hs-bordered-red-style-label">
                                <div class="tw-flex">
                                    <div class="tw-shrink-0">
                                        <span class="tw-inline-flex tw-justify-center tw-items-center tw-size-8 tw-rounded-full tw-border-4 tw-border-red-100 tw-bg-red-300 tw-text-red-800">
                                            <svg class="tw-shrink-0 tw-size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M18 6 6 18"></path>
                                                <path d="m6 6 12 12"></path>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="tw-ms-3 tw-flex tw-items-center">
                                        <p class="tw-text-sm tw-text-red-800" x-text="error"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="wrapper-halfs">
                            <div class="input-container-half ">
                                <label for="name">Contact Name*</label>
                                <input placeholder="Enter your contact name" name="name" required type="text">
                            </div>

                            <div class="input-container-half ">
                                <label for="company">Company Name</label>
                                <input placeholder="Enter your company name" name="company" type="text">
                            </div>
                        </div>
                        <div class="wrapper-halfs">
                            <div class="input-container-half ">
                                <label for="email">Email*</label>
                                <input placeholder="Enter your email" name="email" required type="email">
                            </div>
                            <div class="input-container-half ">
                                <label for="phone">Phone Number*</label>
                                <input placeholder="Phone Number" name="phone" required type="tel">
                            </div>
                        </div>
                        <div class="input-container">
                            <label for="productList">Product List</label>
                            <textarea placeholder="List the products you want to sell" name="productList"
                                type="text"></textarea>
                        </div>
                        <div class="input-container">
                            <label for="notes">Comments or Notes</label>
                            <textarea placeholder="Add any comments or notes" name="notes" type="text"></textarea>
                        </div>

                        <div class="input-container upload-container">
                            <label for="file-upload" style="cursor: pointer;">
                                <img class="upload_icon" src="/assets/warranty/upload_icon.png" alt="upload icon">
 
                                <div id="upload-text-container">
                                    <template x-if="files.length > 0">
                                        <p>Files(<span x-text="files.length"></span>)</p>
                                    </template>
                                    <template x-if="files.length === 0">
                                        <p>File Upload <span>(Not Required)</span></p>
                                    </template>
                                </div>
                              
                            </label>
                            <input 
                                id="file-upload" 
                                name="images[]" 
                                accept="image/jpeg,image/jpg,image/png,image/webp" 
                                type="file"
                                multiple
                                @change="handleFiles($event)"
                                style="display: none;">
                        </div>
                        <button class="submit-btn htmx-button" type="submit" :disabled="loading">
                            <span x-show="!loading">Get a Quote</span>
                            <span x-show="loading" class="btn-loader"></span>
                        </button>
                    </form>
                </div>

            </section>
            <!-- END HERE -->
            @include('components/common/footer')
        </div>
    </div>
</div>
@endslot
@end