@layout.app({title: 'Warranty', customClass: 'inner-pages'})

@slot('styles')
@vite(['resources/css/core/warranty.scss', 'resources/js/core/warranty.js'])
@endslot

@slot('main')
<div id="smooth-wrapper">
    <div id="smooth-content">
        <div class="warranty-container">
            <div class="top-spacing"></div>

            <!-- START HERE -->
            <section class="ask_warranty">
                <img class="warranty_images show-in-left" src="/assets/warranty/warranty.webp"
                    alt="warranty images">
                <div class="form_container">
                    <h1 class="section-header xxxxl">AnyHDD<br /> <span>Warranty Policy</span></h1>
                    <p class="xxxs sub-title">We will require the following information</p>
                    <form class="warranty_form" action="">
                        <!-- <div class="input-container">
                                    <label  for="fullname">Full Name*</label>
                                    <input placeholder="Enter your name" name="fullname" required type="text">
                                </div> -->
                        <div class="wrapper-halfs">
                            <div class="input-container-half ">
                                <label for="fullname">Full Name*</label>
                                <input placeholder="Enter your name" name="fullname" required type="text">
                            </div>
                            <div class="input-container-half ">
                                <label for="fullname">Company Name</label>
                                <input placeholder="Enter your company name" name="fullname" type="text">
                            </div>
                        </div>
                        <div class="wrapper-halfs">
                            <div class="input-container-half ">
                                <label for="email">Email*</label>
                                <input placeholder="Enter your email" name="email" required type="email">
                            </div>
                            <div class="input-container-half ">
                                <label for="phone-number">Phone Number*</label>
                                <input placeholder="Phone Number" name="phone-number" required type="tel">
                            </div>
                        </div>
                        <div class="wrapper-halfs">
                            <div class="input-container-half ">
                                <label for="text">Product Serial Number</label>
                                <input name="amazon-order-id" type="text">
                            </div>
                            <div class="input-container-half ">
                                <label for="anyhdd-order-id">Product Part Number (SKU)</label>
                                <input name="anyhdd-order-id" type="text">
                            </div>
                        </div>
                        <div class="input-container">
                            <label for="message">Describe your issue</label>
                            <textarea placeholder="Describe your issue" name="message" type="text"></textarea>
                        </div>
                        <div class="input-container upload-container">


                            <label for="file-upload">
                                <img class="upload_icon" src="/assets/warranty/upload_icon.png" alt="upload icon">
                                <div id="upload-text-container">
                                    <p>Upload Photos <span>(Not Required)</span></p>
                                </div>

                            </label>
                            <input id="file-upload" name="file" accept="image/png,image/jpeg,image/webp" type="file">
                        </div>
                        <button class="submit-btn" type="submit">Submit</button>
                    </form>
                </div>

            </section>
            <!-- END HERE -->
            @include('partials/common/footer')
        </div>
    </div>
</div>
@endslot
@end