.orders-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .order-header-title {
        color: #909090;
        font-family: "Outfit", sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 8px;

        span {
            color: #052F5A;
            font-weight: 600;
        }
    }

    .wrapper-scroll {
        overflow: auto;
        /* min-height: 0; */
        max-height: calc(100lvh - 24rem);
        /* flex: 1; */
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-right: 8px; /* Add some space for the scrollbar so content doesn't touch it */

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background: #EBEBEB; 
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(185, 185, 185, 1);
            border-radius: 4px;
        }
    }
    .order-card {
        border-radius: 16px;
        border: 1px solid #EBEBEB;
        background: #FFF;
        padding: 2rem;
        padding-bottom: 0rem;
        box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.02);

        .order-details-grid {
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 60px;
            margin-bottom: 0;
            padding-bottom: 2rem;
            
            width: fit-content;

            .detail-item {
                display: flex;
                flex-direction: column;
                gap: 4px;

                .label {
                    color: #909090;
                    font-family: "Outfit", sans-serif;
                    font-size: 12px;
                    font-weight: 400;
                }

                .value {
                    color: #052F5A;
                    font-family: "Outfit", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }

        .order-product-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #EBEBEB;
            padding-top: 2rem;
            padding-bottom: 2rem;
            .product-info {
                display: flex;
                align-items: center;
                gap: 16px;

                img {
                    width: 76px;
                    height: 52px;
                    object-fit: contain;
                }

                .nav-text {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    h4 {
                        color: #052F5A;
                        font-family: "Outfit", sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin: 0;
                    }

                    p {
                        color: #909090;
                        font-family: "Outfit", sans-serif;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        margin: 0;
                    }
                }
            }

            .view-order-link {
                color: #052F5A;
                font-family: "Outfit", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-decoration-line: underline;
                cursor: pointer;
                transition: opacity 0.2s;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .orders-section {
        .order-card {
            padding: 20px;

            .order-details-grid {
                gap: 30px;
                width: 100%;
                justify-content: space-between;
            }

            .order-product-row {
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                .view-order-link {
                    align-self: flex-end;
                }
            }
        }
    }
}

@media (min-width: 2250px) {
    .orders-section {
        gap: 48px;

        .order-header-title {
            font-size: 1.5rem;
            margin-bottom: 12px;
        }

        .wrapper-scroll {
            gap: 3rem;
 
        }

        .order-card {
            border-radius: 20px;
            padding: 3rem;
            padding-bottom: 0rem;
            
            .order-details-grid {
                gap: 90px;
                padding-bottom: 3rem;

                .detail-item {
                    gap: 6px;

                    .label {
                        font-size: 1.125rem;
                    }

                    .value {
                        font-size: 1.375rem;
                    }
                }
            }

            .order-product-row {
                padding-top: 3rem;
                padding-bottom: 3rem;

                .product-info {
                    gap: 24px;

                    img {
                        width: 100px;
                        height: 70px;
                    }

                    .nav-text {
                        gap: 6px;

                        h4 {
                            font-size: 1.5rem;
                        }

                        p {
                            font-size: 1.25rem;
                        }
                    }
                }

                .view-order-link {
                    font-size: 1.375rem;
                }
            }
        }
    }
}

@media (min-width: 3150px) {
    .orders-section {
        gap: 42px;

        .order-header-title {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        .wrapper-scroll {
            gap: 2.6rem;
  
        }

        .order-card {
            border-radius: 18px;
            padding: 2.6rem;
            padding-bottom: 0rem;
            
            .order-details-grid {
                gap: 78px;
                padding-bottom: 2.6rem;

                .detail-item {
                    gap: 5px;

                    .label {
                        font-size: 1.15rem;
                    }

                    .value {
                        font-size: 1.3rem;
                    }
                }
            }

            .order-product-row {
                padding-top: 2.6rem;
                padding-bottom: 2.6rem;

                .product-info {
                    gap: 20px;

                    img {
                        width: 85px;
                        height: 60px;
                    }

                    .nav-text {
                        gap: 5px;

                        h4 {
                            font-size: 1.5rem;
                        }

                        p {
                            font-size: 1.25rem;
                        }
                    }
                }

                .view-order-link {
                    font-size: 1.3rem;
                }
            }
        }
    }
}
